html {
  scroll-behavior: smooth;
}

/* HEADING (BOLD) */

/* 32px */
.text-h1 {
  font-size: 2rem;
  font-weight: 700;
}

/* 28px */
.text-h2 {
  font-size: 1.75rem;
  font-weight: 700;
}

/* 24px */
.text-h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

/* 20px */
.text-h4 {
  font-size: 1.25rem;
  font-weight: 700;
}

/* 16px */
.text-h5 {
  font-size: 1rem;
  font-weight: 700;
}

/* 14px */
.text-h6 {
  font-size: 0.875rem;
  font-weight: 700;
}

/* SUB HEADING (SEMI BOLD) */

/* 24px */
.text-s1 {
  font-size: 1.5rem;
  font-weight: 600;
}

/* 20px */
.text-s2 {
  font-size: 1.25rem;
  font-weight: 600;
}

/* 18px */
.text-s3 {
  font-size: 1.125rem;
  font-weight: 600;
}

/* 16px */
.text-s4 {
  font-size: 1rem;
  font-weight: 600;
}

/* 14px */
.text-s5 {
  font-size: 0.875rem;
  font-weight: 600;
}

/* PARAGRAPH */

/* 20px */
.text-p1 {
  font-size: 1.25rem;
  font-weight: 400;
}

/* 18px */
.text-p2 {
  font-size: 1.125rem;
  font-weight: 400;
}

/* 16px */
.text-p3 {
  font-size: 1rem;
  font-weight: 400;
}

/* 14px */
.text-p4 {
  font-size: 0.875rem;
  font-weight: 400;
}

/* 12px */
.text-p5 {
  font-size: 0.75rem;
  font-weight: 400;
}

/* 8px */
.text-p5 {
  font-size: 0.5rem;
  font-weight: 400;
}

/* COLORING NAVIGATION */
.inactive {
  color: #202429;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}

.inactive:hover {
  color: #dc3545;
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  color: #dc3545;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}

/* FOOTER */
footer#footer--rental--mobil {
  height: 100px;
  background: #202429;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
